.nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav li{
    margin: 0;
    margin-left: 2rem;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav a:hover, .nav a:active{
    color: yellow;
}

.nav button{
    background: #ae99fc;
    font: inherit;
    border:1px solid blueviolet;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

nav button:focus {
    outline: none;
  }
  
  .nav button:hover,
  .nav button:active {
    color: #f3cafb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
  }
  